html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 10;
  margin: 10;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  min-height: 300px;
  width: 100%;
  border: 1px solid black
}

.complete {
  text-decoration: line-through;
}